
@import 'backgrounds/economist.css';

@import 'backgrounds/close.css';

@import 'backgrounds/down.css';

@import 'backgrounds/up.css';

@import 'backgrounds/right.css';

@import 'backgrounds/left.css';

@import 'backgrounds/print.css';

@import 'backgrounds/plus.css';

@import 'backgrounds/minus.css';

@import 'backgrounds/hamburger.css';

@import 'backgrounds/home.css';

@import 'backgrounds/magnifier.css';

@import 'backgrounds/user.css';

@import 'backgrounds/share.css';

@import 'backgrounds/facebook.css';

@import 'backgrounds/googleplus.css';

@import 'backgrounds/linkedin.css';

@import 'backgrounds/mail.css';

@import 'backgrounds/rss.css';

@import 'backgrounds/twitter.css';

@import 'backgrounds/whatsapp.css';

@import 'backgrounds/instagram.css';

@import 'backgrounds/youtube.css';

@import 'backgrounds/tumblr.css';

@import 'backgrounds/bookmark.css';

@import 'backgrounds/worldif.css';

@import 'backgrounds/video.css';

@import 'backgrounds/headset.css';

@import 'backgrounds/film.css';

@import 'backgrounds/apps.css';

@import 'backgrounds/radio.css';

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-indent: -30000px;
  background-repeat: no-repeat;
}

.Icon--rounded {
  display: inline-block;
  border-radius: 50%;
}

/* stylelint-disable selector-no-type */

.Icon--rounded svg {
  /* stylelint-enable selector-no-type */
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  /* stylelint-disable property-no-vendor-prefix, rule-properties-order */
  -moz-transform-origin: 0 0;
  /* stylelint-enable property-no-vendor-prefix, rule-properties-order */
}

.icon {
  font-size: 3.5em;
}

/* Main brand logo */

@import 'backgrounds/economist-small.css';

/* Action */

/* Content */

/* Navigation */

/* Social media */

/* Sub brand logo */

/* Economist products */
